BODY, HTML {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    min-width: 360px;
    height: 100%;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--site-bg-color);
}

main {
    flex: 1 0 auto;
    overflow-x: hidden;
}

input[type=text], input[type=password], input[type=tel], input[type=number], textarea {
    color: #868F9E;
    font-size: 14px;
    line-height: 17px;
    height: 70px;
    border-radius: 4px;
    padding: 0 30px 0 20px;
    border: 1px solid #EBEDF0;
    transition: 0.3s;
}

textarea {
    height: 150px;
}

input[type=text]:hover, input[type=password]:hover, input[type=tel]:hover, input[type=number]:hover, textarea:hover {
    border-color: #FFDCE2;
}

input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, textarea.error {
    border-color: #EE3C30;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=tel]:disabled, input[type=number]:disabled, textarea:disabled {
    color: #868F9E;
    background-color: #F5F7FA;
    border-color: #EBEDF0;
}

input[type=text]:focus , input[type=password]:focus , input[type=tel]:focus , input[type=number]:focus, textarea:focus  {
    color: var(--text-color);
    border-color: var(--sub_main-color);
    outline: 0;
    outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input:focus {
    outline: none !important;
    border-color: #1F1F1F;
}

textarea  {
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #D6D6D6;
    resize: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s;
}

a {
    font-weight: 500;
    color: var(--link-color);
}

a:hover {
    text-decoration: none
}

a.style_link {
    color: var(--link-color-active);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

a.style_link:hover {
    color: var(--link-color);
}

a.style_link span {
    line-height: 1;
    border-bottom: 1px dashed var(--link-color);
    transition: 0.3s;
}

a.style_link .icon + span {
    margin-left: 15px;
}

a.style_link span + .icon {
    margin-left: 15px;
}


article > * {
    margin-bottom: 30px;
}

article a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s;
}

article a:hover {
    color: var(--link-color-active)
}

article li {
    position: relative;
    padding-left: 10px;
}

article li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}

a:active {
    color: inherit;  /* НЕ УДАЛЯТИ */
}

.main_title,
h1 {
    font-family: 'Orelega-One';
    font-weight: 700;
    display: inline-block;
    font-size: 40px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 40px;
    transition: 0.3s;
}

a.main_title:hover {
    opacity: 0.7;
}

.section_title,
h2 {
    font-family: 'Orelega-One';
    font-weight: 700;
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 28px;
    transition: 0.3s;
}

.item_title,
h3 {
    font-family: 'Orelega-One';
    font-weight: 700;
    display: inline-block;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 20px;
    transition: 0.3s;
}

a.sub_title:hover {
    opacity: 0.7;
}

.centre {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1540px;
}

.centre.slim_centre {
    max-width: 1370px;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--btn-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5px 20px;
    min-height: 60px;
    border-radius: 6px;
    background-color: var(--btn-bg);
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    color: var(--btn-text-hover);
    background-color: var(--btn-bg-hover);
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(217, 10, 44, 0.35);
}

.btn:active {
    color: var(--btn-text-active);
    background-color: var(--btn-bg-active);
}

.btn.not_active {
    opacity: 0.4;
}

.btn.not_active:hover {
    color: var(--btn-text);
    background-color: var(--btn-bg);
    transform: none;
}

.btn.btn_contrast {
    color: var(--btn-text-contrast);
    background-color: var(--btn-bg-contrast);
}

.btn.btn_contrast:hover {
    color: var(--btn-text-hover-contrast);
    background-color: var(--btn-bg-hover-contrast);
    box-shadow: none;
}

.btn.btn_contrast:active {
    color: var(--btn-text-hover-contrast);
    background-color: var(--btn-bg-hover-contrast);
    filter: contrast(1.2);
}

.btn.btn_contrast.not_active {
    color: var(--btn-text-hover-contrast);
    background-color: var(--btn-bg-hover-contrast);
}

.close_btn {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.close_btn::before,
.close_btn::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--icon-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background-color 0.3s;
}

.close_btn::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close_btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn:hover::before,
.close_btn:hover::after {
    background-color: #EE3C30;;
}

.shadow {
    font-size: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(32, 30, 80, 0.4);
    z-index: 10;
}


/* ДРОПДАУН */
.dropdown {
    position: relative;
    margin-bottom: 10px;
    height: 62px;
    background: #EBEDF0;
    border: 10px solid #EBEDF0;
    border-radius: 6px;
    z-index: 1;
    transition: 0.3s;
}

.dropdown.dropdown-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown.error {
    border-color: var(--error-color);
}

.dropdown_short {
    width: 68px;
    height: 30px;
    margin: 0 20px;
    color: #1d1d1d;
}

.dropdown_short:hover .drop_arrow {
    background-color: #5ead5a;
}

.dropdown.dropdown-open {
    z-index: 2;
}

.dropdown.dropdown_short.dropdown-open {
    width: 68px;
}

.dropdown .overflow {
    width: 100%;
    height: 100%;
    padding: 0 42px 0 0;
    background-color: var(--site-bg-color);
    position: relative;
    border-radius: 3px;
    border: 1px solid transparent;
    float: left;
    overflow: hidden;
    transition: 0.3s;
}

.dropdown.dropdown_selected .overflow::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

.dropdown:hover .overflow,
.dropdown.dropdown-open .overflow {
    border-color: #FFDCE2;
}

.dropdown.short .overflow {
    width: 138px;
}

.dropdown.dropdown-open .overflow {
    z-index: 10;
}

.dropdown Span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    height: 100%;
    padding: 0 0 0 15px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 2;
}

.dropdown_short Span {
    padding: 0 10px;
}

.dropdown UL {
    position: absolute;
    top: calc(100% + 10px);
    right: -10px;
    left: -10px;
    background: #fff;
    border-bottom-right-radius: var(--border-r-size);
    border-bottom-left-radius: var(--border-r-size);
    z-index: 4;
    margin: 0;
    border-top: none;
    overflow: auto;
    display: none;
}

.dropdown_short ul {
    border-radius: 3px;
    top: 28px;
    overflow: auto;
}

.dropdown UL LI {
    position: relative;
    float: left;
    background: none;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
}

.dropdown_short UL LI {
    border: none;
}

.dropdown UL LI A {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    position: relative;
    color: var(--text-color);
    width: 100%;
    float: left;
    padding: 12px 26px;
    transition: 0.3s;
}

.dropdown UL LI A::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.dropdown UL LI A:hover::before {
    background-color: var(--main-color);
}

.dropdown_short ul li a {
    color: var(--text-color);
    text-align: center;
    padding: 6px 0;
}

.dropdown UL LI A:hover {
    background-color: #F5F7FA;
}

.dropdown_short ul li a:hover {
    background-color: #F5F7FA;
    color: initial;
}

.dropdown UL LI A.selected {
    display: none;
}

.drop_arrow {
    font-size: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.drop_arrow::after,
.drop_arrow::before {
    content: "";
    width: 1px;
    height: 7px;
    background-color: #686868;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
}

.drop_arrow::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.drop_arrow::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown.dropdown-open .drop_arrow::after,
.dropdown.dropdown-open .drop_arrow::before {
    transform-origin: top;
}

.dropdown.dropdown-open .drop_arrow,
.drop_arrow:hover {
    background-color: var(--neutral-color);
}

.dropdown_short .drop_arrow {
    right: -1px;
    top: -1px;
    background-color: #70c46a;
    border-radius: 0 3px 3px 0;
    width: 31px;
    height: 30px;
}

.dropdown_short .drop_arrow:after {
    border-width: 6px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: -3.5px;
}

.dropdown_sm {
    background-color: #fff;
    height: 45px;
}

.dropdown_sm .drop_arrow {
    width: 45px;
    height: 45px;
}

.dropdown_sm .drop_arrow:after {
    border-width: 8px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    margin: -4px 0 0 -6px;
}

.options_dropdown_list UL LI {
    position: relative;
    padding: 0 0 0 10px;
}

.options_dropdown_list UL LI:before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 11px;
}

.options_dropdown_list UL LI A {
    text-decoration: none;
    color: #117f8a;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.options_dropdown_list UL LI A:hover {
    color: #000;
}

.options_dropdown_tile UL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 0 0;
}

.options_dropdown_tile UL LI {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 3px 3px 0;
}

.options_dropdown_tile UL LI A {
    text-decoration: none;
    background-color: #f3f3f3;
    color: #000;
    padding: 5px 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.options_dropdown_tile UL LI A:hover {
    background-color: #117f8a;
    color: #fff;
}

.options_dropdown_tile UL LI.disabled {
    opacity: 0.5;
}

.options_dropdown_tile UL LI.disabled a {
    cursor: default;
}

.options_dropdown_tile UL LI.disabled a:hover {
    background-color: #f3f3f3;
    color: #000;
}

.hidden,
*[hidden]{
    display: none !important;
}

.styleguide {
    display: flex;
    flex-direction: column;
}