/* variables */
:root {
	--site-bg-color: #FFFFFF;
	--main-color: #A60822;
	--sub-main-color: #D90A2C;
	--main-neutral-color: #FFDCE2;
	--bg-neutral-color: #F5F7FA;

	--text-color: #2C2A39;
	--text-light: #868F9E;
	--text-contrast: #EBEDF0;

	--btn-bg: #D90A2C;
	--btn-text: #FFFFFF;
	--btn-bg-hover: #D90A2C;
	--btn-text-hover: #FFFFFF;
	--btn-bg-active: #A60822;
	--btn-text-active: #FFFFFF;
	--btn-bg-contrast: #F5F7FA;
	--btn-text-contrast: #D90A2C;
	--btn-bg-hover-contrast: #2C2A39;
	--btn-text-hover-contrast: #F5F7FA;
	--btn-bg-active-contrast: #D90A2C;
	--btn-text-active-contrast: #FFFFFF;

	--border-color: #868F9E;
	--border-color-active: #2C2A39;

	--icon-color: #D90A2C;
	--active-icon-color: #A60822;

	--link-color: #A60822;
	--link-color-active: #2C2A39;

	--section-bottom: 80px;
}
