/* variables */
:root {
	--site-bg-color: #FFFFFF;
	--main-color: #03D6E7;
	--sub-main-color: #FED213;
	--main-accent-color: #201E50;
	--main-light: #A1A1A1;
	--footer-color: #201E50;
	--btn-bg: #03D6E7;
	--btn-border: #03D6E7;
	--btn-contrast: #0DCC71;
	--btn-text: #FFFFFF;
	--btn-text-hover: #03D6E7;
	--text-color: #1F1F1F;
	--text-light: #5F5F5F;
	--text-contrast: #ffffff;
	--text-main-color: #03D6E7;
	--border-color: #03D6E7;
	--icon-color: #1F1F1F;
	--active-icon-color: #03D6E7;
	--link-color: #1F1F1F;
	--link-color-active: #03D6E7;

	--section-bottom: 48px;
}
