/*
БАННЕР ДВА
 */
.banner_two {
    padding-bottom: var(--section-bottom);
    position: relative;
    overflow: hidden;
}

.banner_two .centre {
    display: flex;
    flex-direction: column;
}

.banner_two.article_scroll .centre {
    display: flex;
    flex-direction: column;
}

.banner_two.article_scroll .article_title {
    order: -2
}

.banner_two.article_scroll Figure {
    order: -1;
    margin-bottom: 40px;
}

.banner_two.article_scroll .banner_two-text {
    max-height: 566px;
    overflow-y: auto;
}

.banner_two-text {
    line-height: 1.6;
    font-size: 14px;
}

.banner_two Figure Img {
    display: block;
    width: 100%;
    height: auto;
}

.banner_two-bg {
    position: absolute;
    bottom: -471px;
    right: -436px;
    width: 534px;
    height: 590px;
    z-index: -1;
    animation: 15s linear 0s normal none infinite running rot;
}

.banner_bg-svg {
    display: block;
    width: 534px;
    height: 590px;
    background-image: url('../images/bg-vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -100px;
    animation: 15s linear 0s normal none infinite running rot;
    z-index: -1;
}
