/* ПОПАП */

.popup {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 30px 20px 60px 20px;
    width: calc(100% - 30px);
    max-width: 660px;
    z-index: 12;
    background-color: #F5F7FA;
    border-radius: 6px;
}

.close_popup {
    font-size: 0;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close_popup::before,
.close_popup::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #868F9E;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s;
}

.close_popup::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close_popup::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup:hover::before,
.close_popup:hover::after {
    background-color: #D90A2C;
}

.popup_title {
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.popup_subtitle {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: var(--text-light);
    display: block;
    margin-bottom: 30px;
}

.popup_form {
    display: flex;
    flex-direction: column;
}

.popup_form > Input {
    margin-bottom: 15px;
}

.popup_form B {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    margin: 15px 0;
}

.popup_social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
}

.popup_social input[type="radio"]:checked,
.popup_social input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.popup_social input[type="radio"]:checked + label,
.popup_social input[type="radio"]:not(:checked) + label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    padding: 16px 0;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.popup_social input[type="radio"]:not(:checked) + label {
    border: 1px solid transparent;
}

.popup_social input[type="radio"]:checked + label {
    border: 1px solid var(--sub-main-color);
}

.popup_social-item .icon {
    margin-bottom: 10px;
}

.popup_bottom {
    display: flex;
    flex-direction: column-reverse;
}

.popup_bottom .btn {
    width: 100%;
    margin-bottom: 15px;
}

.popup_bottom Small {
    text-align: center;
    font-size: 10px;
    line-height: 1.4;
    color: var(--text-light);
}

.popup_bottom Small A {
    color: var(--text-light);
}

.popup_form Textarea {
    height: 120px;
    margin-bottom: 30px;
}

.select_city {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.select_city Li {
    display: flex;
    margin: 0 10px 10px 0;
}

.select_city A {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--main-color);
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    border: 2px solid #fff;
}

.select_city A:hover {
    border-color: var(--main-color);
}

.success_popup-img {
    width: 180px;
    height: 180px;
    margin: -90px auto 30px auto;
}

.success_popup-img Img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}