/* СПИСОК РОБІТ */

.works_list {
    padding-top: 10px;
    margin-bottom: var(--section-bottom);
}

.works_item + .works_item {
    margin-top: 80px;
}

.works_photo {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.works_photo Img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: 0.3s;
    border: 2px solid transparent;
}

a.works_photo:hover Img {
    border: 2px solid var(--main-color);
}

.works_item Figcaption {
    display: flex;
    flex-direction: column;
}

.top_name {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 5px;
    padding: 8px;
    max-width: max-content;
    background-color: var(--main-neutral-color);
    transition: 0.3s;
}

.works_item a.section_title {
    max-width: max-content;
}

.works_item a.section_title:hover {
    color: var(--main-color);
}

.figure_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.figure_links .style_link {
    max-width: max-content;
}

.figure_links .style_link + .style_link {
    margin-top: 20px;
}

.figure_links .style_link .icon:nth-child(1) {
    fill: var(--text-color);
}

.works_item Ul {
    margin-bottom: 30px;
}

.works_item Ul Li {
    padding-left: 10px;
    position: relative;
}

.works_item Ul Li + Li {
    margin-top: 13px;
}

.works_item Ul Li::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 7px;
    transform: rotate(-45deg);
    background-color: var(--main-color);
}